* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #e4ce55; }

.container {
  display: grid;
  background-color: #f9d403;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr 0.3fr 1fr, 1fr, 1fr, 1fr, 1fr;
  gap: 0px 0px;
  grid-template-areas: "header header" "nav nav" "tituloSecundario seccionVideo" "menuSecundario seccionVideo" "footerImagen footerImagen" "footerRedesSociales footerRedesSociales"; }

.containerQuienesSomos {
  display: grid;
  background-color: #f9d403;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr 0.3fr 1fr, 1fr, 1fr;
  gap: 0px 0px;
  grid-template-areas: "header header" "nav nav" "tituloSecundario tituloSecundario" "textoQuienesSomos carousel" "footerRedesSociales footerRedesSociales"; }

.containerNuestroRestaurante {
  display: grid;
  background-color: #f9d403;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr, 1fr;
  grid-template-rows: 1fr 0.3fr 1fr, 1fr, 1fr;
  gap: 0px 0px;
  grid-template-areas: "header header" "nav nav" "tituloSecundario tituloSecundario" "textoQuienesSomos seccionVideoNuestroRestaurante" "footerRedesSociales footerRedesSociales"; }

.containerContactos {
  display: grid;
  background-color: #f9d403;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.3fr 1fr, 1fr, 1fr;
  gap: 0px 0px;
  grid-template-areas: "header" "nav" "tituloSecundario" "form" "footerRedesSociales"; }

.header {
  grid-area: header;
  padding-right: 5%;
  padding-bottom: 10vw;
  padding-top: 50px;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../Resources/headerImagen.jpg); }
  .header .mainTitle {
    font-size: 9rem;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    text-align: right;
    text-align: top;
    color: #f9d403; }
  .header .mainSubTitle {
    font-size: 3rem;
    font-weight: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-align: right;
    color: #aa0f0f; }

.nav {
  grid-area: nav;
  background-color: black;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: black;
    padding: 0;
    list-style-type: none;
    margin: 20px auto;
    text-align: center; }
    .nav ul li {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.7rem;
      text-align: center; }
      .nav ul li a {
        padding: 30px;
        margin: 10px;
        color: #f9d403;
        text-decoration: none;
        display: flex;
        transition: all 1s ease;
        border-radius: 5%; }
        .nav ul li a:hover {
          color: black;
          background-color: #f9d403;
          transform: scale(1.2, 1.2); }

.tituloSecundario {
  grid-area: tituloSecundario;
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  display: block;
  margin: auto;
  padding-top: 30px;
  text-align: center; }

.menuSecundario {
  grid-area: menuSecundario;
  padding: 10px;
  text-align: center;
  margin: 10px;
  display: block;
  margin-top: auto;
  margin-bottom: auto; }
  .menuSecundario li {
    font-size: 1.7rem;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    background-color: black; }
    .menuSecundario li a {
      text-decoration: none;
      color: #f9d403;
      padding: 10px;
      text-align: center;
      transition: all 1s ease;
      border-radius: 5%; }
      .menuSecundario li a:hover {
        color: black;
        background-color: #f9d403; }

.seccionVideo {
  grid-area: seccionVideo;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 50vw;
  height: 61vh; }

.seccionVideoNuestroRestaurante {
  grid-area: seccionVideoNuestroRestaurante;
  padding: 10px;
  text-align: center;
  display: block;
  margin: auto;
  width: 44vw;
  height: 54vh; }

.textoQuienesSomos {
  grid-area: textoQuienesSomos;
  padding: 40px;
  margin: 10px;
  text-align: center;
  align-content: center;
  color: #f9d403;
  background-color: black;
  line-height: 1.8;
  font-size: 17px; }

.carousel {
  grid-area: carousel;
  margin: 10px; }
  .carousel img {
    background-size: cover;
    display: block;
    object-fit: cover;
    object-position: center;
    height: 60vh; }
    .carousel img caption {
      color: #ffffff; }

.imgNuestroBar {
  text-align: center;
  padding: 10px; }
  .imgNuestroBar img {
    padding: 10px;
    margin: 10px;
    width: 400px; }

.form {
  grid-area: form;
  margin: 30px;
  padding: 20px;
  background-color: #000000;
  text-align: center; }
  .form .labelForm {
    padding: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #f9d403; }
  .form .boxForm {
    padding: 10px;
    background-color: #ecd349;
    border: none;
    border-radius: 10px;
    font-size: 15px; }
  .form .boxButton {
    padding: 10px;
    background-color: #f9d403;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 1.5s ease; }
    .form .boxButton:hover {
      color: #f9d403;
      background-color: black; }

.footerImagen {
  grid-area: footerImagen;
  padding: 20px;
  margin: 10px;
  text-align: center; }
  .footerImagen .imgFooter {
    width: 30vw;
    height: 35vh;
    padding: 10px;
    transition: all 1s ease; }
    .footerImagen .imgFooter:hover {
      opacity: 0.7; }

.footerRedesSociales {
  grid-area: footerRedesSociales;
  padding: 20px;
  margin-left: 100px;
  text-align: left; }
  .footerRedesSociales .iconFooter {
    padding: 10px;
    width: 7vw;
    transition: all 1s ease; }
    .footerRedesSociales .iconFooter:hover {
      opacity: 0.7; }

@media only screen and (max-width: 480px) {
  .footerImagen {
    display: none; }
  .container {
    display: grid;
    background-color: #f9d403;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.7fr 0.5fr 0.2fr 0.5fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas: "header header" "nav nav" "seccionVideo seccionVideo" "tituloSecundario tituloSecundario" "menuSecundario menuSecundario" "footerRedesSociales footerRedesSociales"; }
    .container .header {
      grid-area: header;
      padding-right: 5%;
      padding-bottom: 10vw;
      padding-top: 50px;
      background-color: black;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../Resources/headerImagen.jpg); }
      .container .header .mainTitle {
        font-size: 5rem; }
      .container .header .mainSubTitle {
        font-size: 2rem; }
    .container .nav {
      grid-area: nav;
      margin: 5px;
      padding: 5px;
      justify-content: center; }
      .container .nav ul {
        flex-direction: column;
        margin: 5px;
        padding: 5px; }
        .container .nav ul li {
          flex-direction: column;
          font-size: 1.5rem;
          padding: 5px;
          justify-content: space-evenly;
          align-content: space-between;
          align-items: center; }
          .container .nav ul li a {
            padding: 5px;
            margin: 5px; }
    .container .seccionVideo {
      grid-area: seccionVideo;
      width: 94vw;
      height: 35vh;
      display: block;
      margin: auto;
      padding: 0; }
    .container .tituloSecundario {
      grid-area: tituloSecundario;
      font-size: 2rem; }
    .container .menuSecundario {
      grid-area: menuSecundario; }
    .container .footerRedesSociales {
      grid-area: footerRedesSociales;
      text-align: center;
      margin-left: 0; }
      .container .footerRedesSociales .iconFooter {
        width: 20vw; } }

@media only screen and (max-width: 480px) {
  .containerQuienesSomos {
    display: grid;
    background-color: #f9d403;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.7fr 0.2fr 1.5fr 0.5fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas: "header header" "nav nav" "tituloSecundario tituloSecundario" "textoQuienesSomos textoQuienesSomos" "carousel carousel" "footerRedesSociales footerRedesSociales"; }
    .containerQuienesSomos .header {
      grid-area: header;
      padding-right: 5%;
      padding-bottom: 10vw;
      padding-top: 50px;
      background-color: black;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../Resources/headerImagen.jpg); }
      .containerQuienesSomos .header .mainTitle {
        font-size: 5rem; }
      .containerQuienesSomos .header .mainSubTitle {
        font-size: 2rem; }
    .containerQuienesSomos .nav {
      grid-area: nav;
      margin: 5px;
      padding: 5px;
      justify-content: center; }
      .containerQuienesSomos .nav ul {
        flex-direction: column;
        margin: 5px;
        padding: 5px; }
        .containerQuienesSomos .nav ul li {
          flex-direction: column;
          font-size: 1.5rem;
          padding: 5px;
          justify-content: space-evenly;
          align-content: space-between;
          align-items: center;
          line-height: 35px; }
          .containerQuienesSomos .nav ul li a {
            padding: 5px;
            margin: 5px; }
    .containerQuienesSomos .tituloSecundario {
      grid-area: tituloSecundario;
      font-size: 2rem; }
    .containerQuienesSomos .textoQuienesSomos {
      grid-area: textoQuienesSomos; }
    .containerQuienesSomos .carousel {
      grid-area: carousel; }
      .containerQuienesSomos .carousel img {
        background-size: cover;
        object-fit: cover;
        object-position: center;
        height: 40vh; }
    .containerQuienesSomos .footerRedesSociales {
      grid-area: footerRedesSociales;
      text-align: center;
      margin-left: 0; }
      .containerQuienesSomos .footerRedesSociales .iconFooter {
        width: 20vw; } }

@media only screen and (max-width: 480px) {
  .containerNuestroRestaurante {
    display: grid;
    background-color: #f9d403;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.7fr 0.2fr 1.5fr 0.5fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas: "header header" "nav nav" "tituloSecundario tituloSecundario" "textoQuienesSomos textoQuienesSomos" "seccionVideoNuestroRestaurante seccionVideoNuestroRestaurante" "footerRedesSociales footerRedesSociales"; }
    .containerNuestroRestaurante .header {
      grid-area: header;
      padding-right: 5%;
      padding-bottom: 10vw;
      padding-top: 50px;
      background-color: black;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../Resources/headerImagen.jpg); }
      .containerNuestroRestaurante .header .mainTitle {
        font-size: 5rem; }
      .containerNuestroRestaurante .header .mainSubTitle {
        font-size: 2rem; }
    .containerNuestroRestaurante .nav {
      grid-area: nav;
      margin: 5px;
      padding: 5px;
      justify-content: center; }
      .containerNuestroRestaurante .nav ul {
        flex-direction: column;
        margin: 5px;
        padding: 5px; }
        .containerNuestroRestaurante .nav ul li {
          flex-direction: column;
          font-size: 1.5rem;
          padding: 5px;
          justify-content: space-evenly;
          align-content: space-between;
          align-items: center;
          line-height: 35px; }
          .containerNuestroRestaurante .nav ul li a {
            padding: 5px;
            margin: 5px; }
    .containerNuestroRestaurante .tituloSecundario {
      grid-area: tituloSecundario;
      font-size: 2rem; }
    .containerNuestroRestaurante .textoQuienesSomos {
      grid-area: textoQuienesSomos; }
    .containerNuestroRestaurante .carousel {
      grid-area: carousel; }
    .containerNuestroRestaurante .seccionVideoNuestroRestaurante {
      grid-area: seccionVideoNuestroRestaurante;
      width: 92vw;
      height: 34vh;
      display: block;
      margin: auto;
      padding: 0; }
    .containerNuestroRestaurante .footerRedesSociales {
      grid-area: footerRedesSociales;
      text-align: center;
      margin-left: 0; }
      .containerNuestroRestaurante .footerRedesSociales .iconFooter {
        width: 20vw; } }

@media only screen and (max-width: 480px) {
  .containerContactos {
    display: grid;
    background-color: #f9d403;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.455fr 0.450fr 0.125fr 1.5fr 0.15fr;
    gap: 0px 0px;
    grid-template-areas: "header header" "nav nav" "tituloSecundario tituloSecundario" "form form" "footerRedesSociales footerRedesSociales"; }
    .containerContactos .header {
      grid-area: header;
      padding-right: 5%;
      padding-bottom: 10vw;
      padding-top: 50px;
      background-color: black;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../Resources/headerImagen.jpg); }
      .containerContactos .header .mainTitle {
        font-size: 5rem; }
      .containerContactos .header .mainSubTitle {
        font-size: 2rem; }
    .containerContactos .nav {
      grid-area: nav;
      margin: 5px;
      padding: 5px;
      justify-content: center; }
      .containerContactos .nav ul {
        flex-direction: column;
        margin: 5px;
        padding: 5px; }
        .containerContactos .nav ul li {
          flex-direction: column;
          font-size: 1.5rem;
          padding: 5px;
          justify-content: space-evenly;
          align-content: space-between;
          align-items: center;
          line-height: 35px; }
          .containerContactos .nav ul li a {
            padding: 5px;
            margin: 5px; }
    .containerContactos .tituloSecundario {
      grid-area: tituloSecundario;
      font-size: 2rem; }
    .containerContactos .form {
      grid-area: form;
      margin: 30px;
      margin-top: 0;
      padding: 20px;
      background-color: #000000;
      text-align: center; }
      .containerContactos .form .labels {
        display: flex;
        flex-direction: column; }
        .containerContactos .form .labels textarea {
          display: block;
          width: 100%; }
        .containerContactos .form .labels .boxButton {
          margin: 1rem 6rem; }
    .containerContactos .footerRedesSociales {
      grid-area: footerRedesSociales;
      text-align: center;
      margin-left: 0; }
      .containerContactos .footerRedesSociales .iconFooter {
        width: 20vw; } }
